/* Utilites */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: lightcyan;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
}

img {
    width: 100%;
}

h1{
    text-align: center;
    color: brown;
}

h1:hover {
    color: blue;
}

h2 {
    color: green;
}

h2:hover {
    font-weight: 900;
    color: orangered;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blueviolet;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* Home Page */
.item {
    height: auto;
    width: auto;
    align-items: flex-start;
    flex: 1 1 auto;
    text-align: center;
}

.item img {
    max-height: 300px;
    max-width: 300px;
    border-radius: 10px;
}

/* recipe page */
.description {
    margin:20px 0;
}

.description p {
    font-size: medium;
    color: black;
}

/* Ingredients section */
.ingredients {
    margin:20px 0;
}

.ul-ingredients {
    color: black;
}

/* Steps section */
.steps {
    margin:20px 0;
}

.ol-steps {
    padding-left: 17px;
    margin: 0;
    color: black;
}